{% extends "layout.html" %}
{% block title %} Data {% endblock %}
{% block content %}
{% if datafiles|length != 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data File</th>
                <th>Date Recorded</th>
            </tr>
        </thead>
        <tbody>
            {% for data_file, record_date in datafiles %}
            <tr>
                <td><a href="{{ url_for('static', filename="data/%s"|format(data_file)) }}" target="_blank">{{ data_file }}</a></td>
                <td>{{ record_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if session.logged_in %}
        <p><a href="/cleardata" class="btn btn-warning" role="btn">Clear Data</a></p>
    {% endif %}
{% else %}
    <p>No data files available.</p>
{% endif %}
{% endblock %}