{% extends "layout.html" %}
{% block title %} Help! {% endblock %}
{% block content %}

    <p>For more assistance with the scanner, please contact TRI.</p>

    <address>
        <strong>Ajay Shah</strong><br>
        Hardware Development<br>
        TRI/Austin, Inc.<br>
        9225 Bee Caves Road<br>
        Austin Texas 78733<br>
        512-263-2101
    </address>

    <address>
        <strong>David Forsyth</strong><br>
        Project Lead<br>
        TRI/Austin, Inc.<br>
        9225 Bee Caves Road<br>
        Austin Texas 78733<br>
        512-263-2101
    </address>


{% endblock %}