{% extends "layout.html" %}
{% block title %} Help! {% endblock %}
{% block content %}
    <div class="media">
        <a class="pull-right" href="{{ url_for('static', filename='img/photo_1.png') }}">
            <img src="{{ url_for('static', filename='img/photo_1.png') }}" width="240" height="360" class="media-object">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Basic Usage</h3>
            <p>Depending on what type of device you're using to control the HQS, when you connect to the HQS through your device's web browser you should see a screen that looks something like this.</p>
            <p>Read on to learn how to use the HQS.</p>
        </div>
    </div>

    <div class="media">
        <a class="pull-right" href="{{ url_for('static', filename='img/align_laser_button.png') }}">
            <img src="{{ url_for('static', filename='img/align_laser_button.png') }}" width="240" height="360" class="media-object">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Step 1 - Align The Laser</h3>
            <p>Place the HQS over the fastener hole to be inspected, and in your control device's web browser press the <strong>Align Laser</strong> button.</p>
        </div>
    </div>

    <div class="media">
        <a href="{{ url_for('static', filename='img/align_laser.png') }}" target="_blank" class="pull-right">
            <img src="{{ url_for('static', filename='img/align_laser_s.png') }}" class="img-rounded media-object" width="240" height="213">
        </a>
        <div class="media-body">
            <p>After the laser activates, move it to the position you'd like to start the scan.  When the laser marks the start location, press the <strong>Stop</strong> button on your screen to finish.</p>
        </div>
    </div>

    <div class="media">
        <a class="pull-right" href="{{ url_for('static', filename='img/choose_output.png') }}">
            <img src="{{ url_for('static', filename='img/choose_output.png') }}" width="240" height="360" class="media-object">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Step 2 - Choose Output</h3>
            <p>By default HQS returns the complete data file with a scan, but you can also choose to have a sample color plot of the results returned as a picture.  Check one or both of <strong>Generate Image</strong> to get a plot and <strong>Get Raw Data</strong> to get the data file.</p>
            <p>Some versions of HQS will also have a <strong>Scan Comments</strong> text input, where you can optionally insert a comment that will be added to the output data file's header, e.g. part/structure being inspected, inspector's name, and so on.  If your HQS has this feature, you can also leave it blank and the HQS will default to inserting the current date and time in the data file.</p>
        </div>
    </div>

    <div class="media">
        <a class="pull-right" href="{{ url_for('static', filename='img/sample_scan.png') }}">
            <img src="{{ url_for('static', filename='img/sample_scan.png') }}" class="media-object" width="240" height="175">
        </a>
        <div class="media-body">
            <p>The plot generated by the HQS takes each of the height readings at each point in your fastener scan, and plots the point with a color proportional to the height reading.  The plot is a simple PNG bitmap that you can view in your browser.  Here's a sample plot.</p>
            <p>Heads up - generating the plot can take a fair amount of time if your scan is large.  TRI recommends retrieving the data file alone, and generating the plot offline.</p>
        </div>
    </div>

    <div class="media">
        <a href="" class="pull-right">
            <img src="{{ url_for('static', filename='img/scan_hole.png') }}" class="media-object" width="240" height="360">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Step 3 - Start Scanning</h3>
            <p>To begin acquiring fastener hole data, press the <strong>Start Scan</strong> button.</p>
            <p>Depending on how your HQS has been configured, you may or may not see the laser line - if your HQS has been configured to trigger on movement, you'll only see the laser when you move the HQS.  Complete the scan, and press the <strong>Stop</strong> button when you're finished.</p>
        </div>
    </div>
    
    <div class="media">
        <a href="" class="pull-right">
            <img src="{{ url_for('static', filename='img/get_output.png') }}" class="media-object" width="240" height="360">
        </a>
        <div class="media-body">
            <h3 class="media-heading">Step 4 - Get Results</h3>
            <p>After you press the <strong>Stop</strong> button to finish a scan, the HQS will begin to process your scan.  When finished, the web page will update with links to the type(s) of output you requested, along with a message indicating whether the scan was successfully completed or not.</p>
            <p>To download the data file and/or the generated plot, just open the link(s) as you would with any other web browser.  You should download a copy of any data you need to keep, since HQS only provides temporary storage for scans and plot images.</p>
        </div>
    </div>
    
    <h2>Further Assistance</h2>
    <p>For more assistance with the scanner, please contact TRI.</p>

    <address>
        <strong>Ajay Shah</strong><br>
        Hardware Development<br>
        TRI/Austin, Inc.<br>
        9225 Bee Caves Road<br>
        Austin Texas 78733<br>
        512-263-2101
    </address>

    <address>
        <strong>David Forsyth</strong><br>
        Project Lead<br>
        TRI/Austin, Inc.<br>
        9225 Bee Caves Road<br>
        Austin Texas 78733<br>
        512-263-2101
    </address>


{% endblock %}