<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Hole Quality Scanner</title>
    <meta name="description" content="">
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script>
    <script async src="{{ url_for('static', filename='js/parsley.min.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    <div class="alert alert-block alert-success">
                {% elif category == "error" %}
                    <div class="alert alert-block alert-error">
                {% else %}
                    <div class="alert alert-block alert-info">
                {% endif %}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">HQS</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="/data">Scans</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
                        Help
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/help">Help!</a></li>
                        <li><a href="/logs">View System Logs</a></li>
                        <li><a href="/tri">About TRI</a></li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Config
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{% if session.logged_in %}
                                <a href="/logout">Logout</a>
                            {% else %}
                                <a href="/login">Login</a>
                            {% endif %}
                        </li>
                        {% if session.logged_in %}
                        <li>
                        {% else %}
                        <li class="disabled">
                        {% endif %}
                            <a href="/trigger">Trigger</a>
                        </li>
                        {% if session.logged_in %}
                        <li>
                        {% else %}
                        <li class="disabled">
                        {% endif %}
                            <a href="/encoder">Encoder</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="title">{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <div id="loading"><p><img src="{{ url_for('static', filename='img/busy.gif') }}" width="24" height="24"> Please wait, loading...</p></div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
<script type="text/javascript">
    $(window).load(function() {
        $("#loading").hide();
    });
    $.ajaxSetup({
        beforeSend:function() {
            $("#loading").show();
        },
        complete:function() {
            $("#loading").hide();
        }
    });
</script>

</body>
</html>