{% extends "layout.html" %}
{% block title %} About TRI {% endblock %}
{% block content %}

    <p>Texas Research Institute Austin, Inc. (TRI/Austin) is TRI's flagship company and conducts materials research and development projects.</p>

    <p>TRI is committed to providing the highest quality materials science products and services.</p>

    <a href="http://www.tri-austin.com"><img src="{{ url_for('static', filename='img/tri_austin_logo.png') }}" class="img-rounded" width="400" height="42"></a>

{% endblock %}